.home-container {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.home-description-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.find-jonbs-button {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #4f46e5;
  border: 0px;
  width: 150px;
  border-radius: 10px;
}
.main-heading {
  color: white;
  font-family: Roboto;
}
.description {
  color: white;
  font-family: Roboto;
}
